<!-- Encabezado con Barra de Navegación de Bootstrap -->
<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
    <a class="navbar-brand" routerLink="">4 En Raya</a>
  </nav>

<!-- Contenedor principal -->
<div id="contPrincipal" class="container">
  <!-- Título Principal -->
  <div class="row">
      <div class="col-4">
          <button type="button" id="botonTitulo" class="btn btn-outline-light retro-button" (click)="borrarPartida()" routerLink="">Volver al menú</button>
      </div>
      <div class="col-8">
          <h1 id="titulo" class="retro-text">Creando nueva partida</h1>
      </div>
  </div>
</div>
<div id="menu" class="row align-items-md-stretch">
  <div class="col-md-12">
      <div class="h-100 p-5 text-white rounded-3 retro-bg">
          <div id="titulo_menu">
              <h2 class="retro-text">Pásale el siguiente código de la partida a tu amigo:</h2>
          </div>
          <br>
          <div id="elementos-menu">
              <div *ngIf="idPartida !== ''">
                  <h3 class="retro-text">Código partida: {{ idPartida }}</h3>
              </div>
              <div *ngIf="idPartida === null">
                  <h3 class="retro-text">Cargando resultado...</h3>
              </div>
          </div>
      </div>
  </div>
</div>
