<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
  <a class="navbar-brand" routerLink="">4 En Raya</a>
</nav>
<div id="contPrincipal" class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="retro-text">4 En Raya</h1>
    </div>
  </div>
</div>

<div id="menu" class="row align-items-md-stretch">
  <div class="col-md-12">
    <div class="h-100 p-5 retro-bg rounded-3">
      <div id="titulo_menu">
        <h2 class="retro-text">¿Qué quieres hacer?</h2>
      </div>
      <br>
      <div id="elementos-menu">
        <button class="retro-button" type="button" routerLink="nueva">Empezar nueva partida</button>
        <button class="retro-button" type="button" routerLink="unirse">Unirse a una partida</button>
        <button class="retro-button" type="button" routerLink="partidas">Lista de partidas</button>

      </div>
    </div>
  </div>
</div>